body {
    background-color: #ddd;
    height: max-content;
    text-align: start;
}

h1 {
    font-size: 30px;
    font-family: "games"; 
    color: grey;
    padding-top: 10px;
    text-align: start;
    margin-left: 10px;
}


h2 {
    font-size: 16px;
    text-align: start;
    margin-left: 10px;
    font-family: "helvetica";
}

#board {
    width: 1280px;
    height: 650px;
    background-image: url("../images/background-img.gif");
    overflow: hidden;
    position: relative; 
}

#player {
    background-image: url("../images/llama_player.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.target {
    background-image: url("../images/CSS3_logo_and_wordmark.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 10 black;
}

.bullet {
    background-image: url("../images/spit.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    padding: 0;
    margin: 0;
}


@media (max-width: 800px) {
    #board {
        width: 600px;
        height: 400px;
        background-image: url("../images/background-img.gif");
        overflow: hidden;
        position: relative; 
    }
}
  
