body {
    background-color: #ddd;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 24px;
    padding-top: 10px;
    text-align: start;
    margin-left: 10px;
}

#board {
    width: 80vw;
    height: 80vh;
    background-color: lightsalmon;
    overflow: hidden;
    margin-left: 10px;
    padding-top: 2%;
    position: relative;
}

#player {
    background-color: lightcyan;
    position: absolute;
}

.target {
    background-color: lightslategray;
    position: absolute;
}

.bullet {
    background-color: black;
    position: absolute;
}